div.owmoduleforms form .block .element { padding:0; line-height:1.4em;}
div.owmoduleforms form .required, div.owmoduleforms form span.warning { color:red; margin-left:6px; }
div.owmoduleforms form .block .element label,
div.owmoduleforms form .block .element input { float: left;  }
div.owmoduleforms form .block .element label { text-align:right; width:12em; }
div.owmoduleforms form .block .element input { }