form .block .element { width:95%; }
form .required { color:red; }
form .block .element label, form .block .element input { float: left; }
form .block .element label { text-align:right; width:8em;}
form .block .element input { margin-right:15px; }