div.ow_input_group { float:left; }
div.ow_input_item { height:1.5em;}
div.ow_input_item input { margin-top:0px; }
div.owmoduleforms form .block .element div.ow_input_item label { text-align:left; width:auto; padding:0 0 0 0; font-size:inherit; }